
<h1>Web App and Auth</h1>

<a href="/">Home (anonymous)</a> |
<a href="/sales">Sales (authentication required)</a> |
<a href="/warehouse">Warehouse (group membership required)</a> |
<a href="/products">Products (custom claim required)</a>
