@page
@model WebApp.Pages.WarehouseModel
@{
    ViewData["Title"] = "Warehouse";
}

@await Html.PartialAsync("_Links")

<h3>Warehouse</h3>

User is part of required group: <b>@Model.UserIsPartOfGroup</b><br/>
Azure AD Groups count: <b>@Model.AzureADGroupsCount</b><br/>
