<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script>
        var WebApp = WebApp || {};
        WebApp.ApiRoot = "@Url.Content("~/api")";

        console.log(`WebApp.ApiRoot: ${WebApp.ApiRoot}`);
    </script>
</head>
<body>
    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>